/* App.css */

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2; /* Background color for the entire page */
}

.login-container {
  background-color: #ffffff; /* Background color for the login form */
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.login-heading {
  font-size: 28px;
  color: #007BFF; /* Text color for the heading */
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  font-weight: bold;
  color: #333; /* Text color for labels */
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  margin-top: 5px;
}

.login-button {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3; /* Hover color for the button */
}
